@use "../../abstracts/index"as *;


.body-landing {
    background: #0E0C0B;
    color: var(--white);
}

.tf-header-landing {
    padding-top: 15px;
    padding-bottom: 15px;

    @include res(xl, min) {
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 0;

        &.header-sticky {
            // padding-top: 15px;
            // padding-bottom: 15px;
        }
    }
}

.header-landing_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .group-btn {
        gap: 16px;
    }

    .item-link {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @include res(xl) {

        // .box-open-menu-mobile,
        // .header-right {
        //     flex: 1;
        // }
    }
}

.body-item {
    position: absolute;
    width: 480px;
    height: 480px;
    left: -220px;
    top: -160px;
    background: #FF6242;
    opacity: 0.3;
    filter: blur(175px);
    border-radius: 40px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.section-intro-landing {
    .main-tag {
        padding: 4px 16px;
        border-radius: 100px;
        background: var(--primary);
        display: inline-flex;
    }

    .counter-grid {
        max-width: 811px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .content {
        margin-bottom: 60px;
    }

    .intro-image {
        padding: 20px;
        border-radius: 20px;
        background: var(--white-10);
        border-top: 4px solid var(--primary);
        position: relative;

        .image {
            border-radius: 16px;
            overflow: hidden;
            position: relative;
            z-index: 1;

            img {
                min-height: 300px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 10%;
            right: 10%;
            height: 80px;
            background: linear-gradient(0deg, #FF6242, #FF6242);
            filter: blur(50px);
            opacity: 0.8;
            z-index: 0;
        }
    }
}

.section-potent {
    .s-desc {
        margin-bottom: 40px;
    }

    .col-right {
        position: relative;
        padding-top: 30px;
        padding-left: 75px;
        padding-right: 30px;
        max-width: 721px;
        width: 100%;
        margin: 0 auto;

        .center {
            border-radius: 16px;
            // max-width: 616px;
            // margin: 0px auto;
            width: 100%;
            padding: 58px 40px 34px;
            display: grid;
            place-items: center;
            text-align: center;
            background: var(--white-04);
        }

        .top {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        .text-fast {
            background: #292A2D;
            padding: 4px 8px;
            border-radius: 6px;
        }
    }

    .main-perform {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 18px 48px;
        background: #292A2D;
        border-radius: 16px;
    }

    .right-contact {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 12px 20px;
        background: #292A2D;
        box-shadow: 0px 10px 25px 0px #2B344A1F;
        border-radius: 12px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .right-author {
        position: absolute;
        left: 0;
        bottom: 19px;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 14px 18px;
        background: #292A2D;
        box-shadow: 0px 10px 25px 0px #2B344A1F;
        border-radius: 12px;
    }
}