@use "../../abstracts/index"as *;


.body-landing {
    background: #0E0C0B;
    color: var(--white);
}

.tf-header-landing {
    padding-top: 15px;
    padding-bottom: 15px;

    @include res(xl, min) {
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 0;

        &.header-sticky {
            // padding-top: 15px;
            // padding-bottom: 15px;
        }
    }
}

.header-landing_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .group-btn {
        gap: 16px;
    }

    .item-link {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @include res(xl) {

        // .box-open-menu-mobile,
        // .header-right {
        //     flex: 1;
        // }
    }
}

.body-item {
    position: absolute;
    width: 480px;
    height: 480px;
    background: #FF6242;
    opacity: 0.3;
    filter: blur(175px);
    border-radius: 40px;
    transform: matrix(1, 0, 0, -1, 0, 0);

    &.pst-1 {
        left: -220px;
        top: -160px;
    }

    &.pst-2 {
        top: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-50%);
    }
}

.section-intro-landing {
    .main-tag {
        padding: 4px 16px;
        border-radius: 100px;
        background: var(--primary);
        display: inline-flex;
    }

    .counter-grid {
        max-width: 811px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .content {
        margin-bottom: 60px;
    }

    .intro-image {
        padding: 20px;
        border-radius: 20px;
        background: var(--white-10);
        border-top: 4px solid var(--primary);
        position: relative;

        .image {
            border-radius: 16px;
            overflow: hidden;
            position: relative;
            z-index: 1;

            img {
                min-height: 300px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 10%;
            right: 10%;
            height: 80px;
            background: linear-gradient(0deg, #FF6242, #FF6242);
            filter: blur(50px);
            opacity: 0.8;
            z-index: 0;
        }
    }
}

.section-potent {
    .s-desc {
        margin-bottom: 40px;
    }

    .col-right {
        position: relative;
        padding-top: 30px;
        padding-left: 75px;
        padding-right: 30px;
        // max-width: 721px;
        // width: 100%;
        margin: 0 auto;

        .center {
            border-radius: 16px;
            // max-width: 616px; 
            // margin: 0px auto;
            width: 100%;
            padding: 58px 40px 34px;
            display: grid;
            place-items: center;
            text-align: center;
            background: var(--white-04);
        }

        .top {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        .text-fast {
            background: #292A2D;
            padding: 4px 8px;
            border-radius: 6px;
        }
    }

    .main-perform {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 18px 48px;
        background: #292A2D;
        border-radius: 16px;
    }

    .right-contact {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 12px 20px;
        background: #292A2D;
        box-shadow: 0px 10px 25px 0px #2B344A1F;
        border-radius: 12px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .right-author {
        position: absolute;
        left: 0;
        bottom: 19px;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 14px 18px;
        background: #292A2D;
        box-shadow: 0px 10px 25px 0px #2B344A1F;
        border-radius: 12px;
    }

    @include res(lg, min) {
        .col-right {
            max-width: 721px;
            width: 100%;
        }
    }

    @include res(md) {
        .main-perform {
            gap: 12px;
            padding: 20px;
        }

        .col-right {
            padding-left: 0;

            // padding-right: 0;
            .center {
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 30px;
            }
        }
    }

    @include res(sm) {
        .main-perform {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    @include res(ssm) {
        .col-right {
            padding-top: 30px;
            padding-right: 0;

            .top {
                flex-wrap: wrap;
                gap: 12px;
                justify-content: center;
            }
        }
    }
}

.land-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 48px;

    &.type-2 {
        flex-direction: column;
        text-align: center;
    }

    @include res(xl) {
        margin-bottom: 30px;
    }
}

.land-heading-2 {
    margin-bottom: 40px;

    @include res(xl) {
        margin-bottom: 30px;
    }
}

.section-why-choose {}

.choose-grid {
    .grid-item {
        padding: 20px;
        border: 1px solid var(--white-10);
        border-radius: 16px;
        @include flex(center, center);
        flex-direction: column;
        gap: 30px;

        &.item-1 {
            text-align: center;
        }

        &.item-2 {
            gap: 24px;

            .item_top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 12px;
                width: 100%;
            }

            .item_image {
                border-radius: 12px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    aspect-ratio: calc(408/507);
                }
            }
        }

        &.item-3 {
            text-align: center;
        }
    }

    @include res(xxl, min) {
        .grid-item {
            &.item-3 {
                gap: 60px;
            }
        }
    }

    @include res(xxl) {
        .col-s1 {
            .item_image {
                max-width: 100px;
            }
        }
    }

    @include res(lg) {
        .col-s2 {
            order: 2;
        }

        .col-s3 {
            order: 1;
        }

        .grid-item {
            &.item-3 {
                .item_image {
                    max-width: 240px;
                }
            }
        }
    }

    @include res(sm, between, lg) {
        .col-s2 {
            grid-column: 1 / -1;
        }
    }
}

.counter-home {

    .number-count {
        font-size: clamp(80px, 10vw, 160px);
        line-height: calc(clamp(70px, 10vw, 160px) * 1.3);
    }

    @include res(lg, min) {
        margin-bottom: -30px;
    }
}

.tf-btn-landing {
    border: 1px solid var(--white-10);
    border-radius: 12px;
    height: 50px;
    padding-left: 24px;
    padding-right: 24px;
    @include flex(center, center);
    position: relative;
    overflow: hidden;

    .text-btn {
        color: var(--white);
        font-weight: 600;
        position: relative;
        z-index: 3;
    }

    .overlay_text {
        position: absolute;
        z-index: 1;
        @include transition3;
        @include hidden;

        &.s1 {
            background: linear-gradient(90deg, #FF9993, #81FBFF, #FF9993);
            background-size: 200% 100%;
            animation: gradientFlow 2s linear infinite;
            inset: 0;
            border-radius: 11px;
            z-index: 1;
        }

        &.s2 {
            inset: 2px;
            border-radius: 10px;
            background: #262423;
            z-index: 2;
        }
    }

    &:hover,
    &.active {
        .overlay_text {
            @include visible;
        }
    }
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

.posttype-filter {
    display: flex;
    align-items: center;
    overflow: auto;
    gap: 16px;
    white-space: nowrap;
    margin-bottom: 30px;

    @include res(xl, min) {
        margin-bottom: 40px;
        justify-content: center;
    }
}

.card-demo {
    border: 1px solid var(--white-10);
    border-radius: 16px;
    padding: 23px;
    display: grid;
    gap: 24px;
    position: relative;
    @include transition3;

    &.coming {
        pointer-events: none;

        .demo-image {
            aspect-ratio: calc(402/300);
            background: #000;
            box-shadow: 0px 10px 25px 0px #2B344A1F;
            background: #FFFFFF1A;
            @include flex(center, center);

            .text_coming {
                position: absolute;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        pointer-events: none;
        border: 2px solid var(--primary);
        border-radius: 16px;
        @include transition3;
        @include hidden;
    }

    .demo-image {
        border-radius: 12px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // min-height: 240px;
        }

        .group-action {
            position: absolute;
            gap: 12px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            z-index: 1;
            @include transition3;

        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 70%;
            background: linear-gradient(180deg, rgb(223, 66, 66, 0) 20.58%, rgb(223, 66, 66, 0.5) 102.91%);
            @include transition3;
        }
    }

    .demo-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .demo_tag {
        padding: 4px 12px;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: 500;

        &.hot {
            background: var(--primary);
        }

        &.trend {
            background: var(--yellow);
        }

        &.new {
            background: var(--pink);
        }
    }

    .demo-image {
        .group-action {
            @include hidden;
            transform: translateY(10px);
        }

        &::after {
            height: 0%;
            @include hidden;
        }
    }

    &:hover {
        &::after {
            @include visible;
        }

        .demo-image {
            .group-action {
                @include visible;
                transform: translateY(0px);
            }

            &::after {
                height: 70%;
                @include visible;
            }
        }
    }

    @include res(xl, min) {}

    @include res(lg) {
        .demo_tag {
            display: none;
        }
    }

    @include res(md) {
        padding: 12px;
        gap: 12px;

        .demo-image {
            img {
                aspect-ratio: calc(250/200);
            }

            .group-action {
                display: none;
            }
        }

        .demo-content {
            justify-content: center;
        }
    }

    @include res(sm) {
        .demo_name {
            font-size: 20px;
        }
    }
}

.demo-filter {
    @include res(md) {
        margin-left: -10px !important;
        margin-right: -10px !important;

        >* {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}

.card-device-mobile {
    padding: 19px;
    background: var(--white-10);
    border: 1px solid var(--white-10);
    border-radius: 16px;
    display: grid;
    gap: 20px;
    text-align: center;

    .wrap-video {
        border-radius: 12px;
        overflow: hidden;
    }

    @include res(xl) {
        padding: 12px;
        gap: 12px;
    }
}

.infiniteSlide-func {
    .infiniteSlide-item {
        margin-left: 12px;
        margin-right: 12px;
    }
}

.wg-func {
    padding: 15px 23px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--white-10);
    background: linear-gradient(103.12deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.01) 100%);
}

.section-func {
    position: relative;

    .infiniteSlide-func {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 30%;
        top: 0;
        bottom: 0;
        z-index: 1;
    }

    &::after {
        right: 0;
        background: linear-gradient(90deg, rgba(14, 12, 11, 0) 0.29%, #0E0C0B 56.23%);
    }

    &::before {
        left: 0;
        background: linear-gradient(-90deg, rgba(14, 12, 11, 0) 0.29%, #0E0C0B 56.23%);
    }
}

.wg-exclusive {
    padding: 31px 15px;
    background: #262423;
    border-radius: 12px;
    text-align: center;

    .image {
        margin-bottom: 12px;
    }

    .name {
        margin-bottom: 8px;
    }

    @include res(lg) {
        .image {
            max-width: 80px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.section-exclusive {
    background: linear-gradient(270deg, rgba(134, 60, 163, 0.12) 0%, rgba(229, 119, 112, 0.12) 100%);

    .col-right {
        display: flex;
        gap: 16px;
        -webkit-mask-image: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0.1) 4.85%, rgba(16, 16, 16, 0.8) 9.81%, #101010 49.61%, rgba(16, 16, 16, 0.8) 90.18%, rgba(16, 16, 16, 0.1) 94.91%, rgba(16, 16, 16, 0) 100%);
        -webkit-mask-mode: alpha;
        -webkit-mask-repeat: no-repeat;
        mask-image: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0.1) 4.85%, rgba(16, 16, 16, 0.8) 9.81%, #101010 49.61%, rgba(16, 16, 16, 0.8) 90.18%, rgba(16, 16, 16, 0.1) 94.91%, rgba(16, 16, 16, 0) 100%);
        mask-mode: alpha;
        mask-repeat: no-repeat;

        >* {
            width: 50%;
        }
    }

    @include res(xl, min) {
        .col-right {
            padding-left: 30px;
        }
    }

    @include res(lg) {
        .col-left {
            text-align: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}

.infiniteSlide-exclusive {
    max-height: 780px;

    .infiniteSlide-item {
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
    }

    @include res(xl) {
        max-height: 600px;
    }
}